.cuteicon{
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -8%);
    padding: 10px;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}

body{
    background-color: black;
}